<div class="card" *ngIf="enrollmentEvent">
  <div class="card-header d-md-flex">
    <h5 class="text-gray-600 mt-3"><span [translate]="'Candidates.Statistics'"></span></h5>
    <a href="#/candidates/list"
       class="text-primary ml-auto my-auto"><span [translate]="'Students.More'"></span></a>
  </div>

  <div class="card-footer border-top py-4" *ngIf="requestSummary">
    <div class="form-group row mb-4 text-secondary">
      <div class="col-8">
        <span [translate]="'Candidates.TotalRequests'"></span>
      </div>
      <div class="col-4 text-dark">
        <span>{{total}}</span>
      </div>
    </div>
    <div class="form-group row mb-1 text-secondary" *ngFor="let info of requestSummary">
      <div class="col-8">
        <span >{{'ActionStatusTypes.' + info.actionStatus.alternateName | translate}}</span>
      </div>
      <div class="col-4 text-dark">
        <span>{{info.total}}</span>
      </div>
    </div>



  </div>
</div>

