<div>
  <div class="row">
  </div>
  <div class="card-body">
    <div class="card-text row">
      <div class="alert alert-warning" [translate]="'Snapshots.Info'">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-2">
      <div class="col-auto mt-3">
        <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Snapshots.Title'"></span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Snapshots.TitleSingular'"></span>
        </div>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.snapshots && this.snapshots.selected && this.snapshots.selected.length"
           class="text-danger text-decoration-none mr-2 mt-2" [routerLink]="" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'Snapshots.Remove.Title'"></span>
        </a>
        <a class="text-indigo text-decoration-none mt-2" [routerLink]="">
          <span>+</span><span>&nbsp;</span><span [translate]="'Snapshots.CreateSnapshot'" (click)="createSnapshot()"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 mb-4">
          <app-advanced-table #snapshots (load)="onDataLoad($event)" [selectable]="true" [height]="600" ></app-advanced-table>
      </div>
  </div>
  <router-modal></router-modal>
</div>
