<div class="row mt-4">
  <div class="col-lg-8 col-md-7 col-12">
    <app-students-overview-lastregistration *if-location="'/registrations'"  [studentId]="studentId"></app-students-overview-lastregistration>
    <app-students-overview-requests [studentId]="studentId"></app-students-overview-requests>
    <app-students-overview-suspensions [studentId]="studentId"></app-students-overview-suspensions>
    <app-students-overview-currentgrades></app-students-overview-currentgrades>
    <app-students-overview-program-groups *if-location="'/program-groups'" ></app-students-overview-program-groups>
    <app-students-overview-counselors *if-location="'/students/counselors'" [studentId]="studentId"></app-students-overview-counselors>
  </div>
  <div class="col-lg-4 col-md-5 col-12">
    <app-students-overview-profile [studentId]="studentId"></app-students-overview-profile>
    <app-students-overview-snapshot [studentId]="this.studentId"></app-students-overview-snapshot>
    <app-students-stats *if-location="'/students/courses'" [studentId]="studentId" [showMore]="showMore"></app-students-stats>
    <app-students-overview-internships *if-location="'/internships'" [studentId]="studentId"></app-students-overview-internships>
    <app-students-overview-theses [studentId]="studentId"></app-students-overview-theses>
    <app-students-overview-scholarships *if-location="'/scholarships'" [studentId]="studentId"></app-students-overview-scholarships>


  </div>
  <router-modal></router-modal>
</div>
