<div>
  <div class="row" *ngIf="lastError">
    <div class="alert alert-warning col-12" role="alert">
      <span [translate]="'Courses.ChangeGradeScaleAction.ErrorTitle'"></span
      ><br />
      <small *ngIf="lastError.error && lastError.error.message">{{ lastError.error.message }}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-container>
        <advanced-form-edit
          #formComponent
          [formName]="'Courses/changeGradeScale'"
          [data]="course"
        ></advanced-form-edit>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span>{{'Courses.ChangeGradeScaleAction.Info' | translate}}</span>
    </div>
  </div>
  <ng-container *ngIf="!(gradeScaleChange && gradeScaleChange.allow)">
    <ng-container *ngIf="gradeScaleChange.message">
      <div class="row mt-2">
        <div class="col-12">
          <span class="font-weight-bold text-danger">{{
            gradeScaleChange.message
          }}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
