<div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Classes.AcademicTextbooks.Books'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span
          [translate]="'Classes.AcademicTextbooks.BooksSingular'"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #books (load)="onDataLoad($event)" [selectable]="false" [height]="600" [showfooter]="false">
      </app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>