<div *ngIf="model">
  <div class="card" *ngIf=" model?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'StudyPrograms.Info'"></h5>
 </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          {{model?.name}}
        </div>
      </div>
      <div class="card-text row">
        <div class="col-12 col-md-6 text-secondary">
          <span> {{'StudyPrograms.isActive.' + model?.isActive  | translate }}</span>
        </div>
      </div>
    </div>

    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DepartmentName'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.department.name}}</span>
        </div>
      </div>
      <div *if-location="'/students/semester'" class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Semesters'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.semesters}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Abbreviation'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.abbreviation}}</span>
        </div>
      </div>
      <div class="form-group row mb-1" *if-location="'/study-programs/studyLevel'">
        <div class="col-5">
          <span [translate]="'StudyPrograms.StudyLevel'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'StudyLevels.' + model.studyLevel.alternateName | translate}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Fees'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'StudyPrograms.hasFees.' + model?.hasFees | translate}}</span>
        </div>
      </div>
      <div class="form-group row mb-1" *if-location="'/students/specialization'">
        <div class="col-5">
          <span [translate]="'StudyPrograms.SpecialtySelectionSemester'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.specialtySelectionSemester}}</span>
        </div>
      </div>
      <div class="form-group row mb-1" *if-location="'/students/specialization'">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DecimalDigitsDegree'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.decimalDigits}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.GradeScale'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.gradeScale.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DegreeDescription'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.info?.degreeDescription}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
