<!-- <div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'StudyPrograms.GeneralInfoTab.title'"></span>
      </form-header>
      <form-body>
        <app-study-programs-preview-form [model]="model"></app-study-programs-preview-form>
      </form-body>
    </form-collapsible>
  </div>
</div> -->

<div *ngIf="model">
  <div class="row mt-3" *ngIf="model?.length !=0;">
    <div class="col-lg-8 col-md-7 col-12 pl-0">
      <app-study-programs-preview-general-specialties *if-location="'/students/specialization'"></app-study-programs-preview-general-specialties>
      <app-study-programs-preview-actions></app-study-programs-preview-actions>
      <app-study-programs-preview-general-statistics *if-location="'/students/specialization'"></app-study-programs-preview-general-statistics>
      <app-study-programs-preview-general-statistics-student-status></app-study-programs-preview-general-statistics-student-status>
    </div>
    <div class="col-lg-4 col-md-5 col-12">
      <app-study-programs-preview-general-profile [id]="model.id"></app-study-programs-preview-general-profile>
    </div>
  </div>
</div>
